html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 1.5em 3.5em;
    justify-content: space-between;
}

header h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 200%;
}

header ul {
    list-style-type: none;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    margin: 0 13px;
}

header li {
    position: relative;
    text-align: center;
    display: inline-block;
}

header a:hover, a:active {
    color: #A46F48;
}

#hamburger-menu {
    font-size: 40px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
}

.button {
    width: 20%;
    position: absolute;
    left: 10%;
    bottom: 25%;
}

.button button {
    font-size: 2vw;
    background-color: #FFC700;
    font-family: Raleway;
    font-weight: bold;
    padding: 5%;
    width: 100%;
    border-radius: 10px;
    border: none;
    transition: 200ms ease-in-out;
}

.button button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.navbar {
    font-size: 1.2rem;
    margin-top: 1em;
    padding: 1.8em 0;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 100;
    /* border: 1px solid red; */
}

.static {
    position: static !important;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 20px;
    border-bottom: 6px solid grey;
}

.navbar ul li a:hover, .navbar ul li.active a {
    color: #A46F48;
    border-bottom: 6px solid #A46F48;
}

section {
    margin: 0 auto;
    width: 75%;
    padding: 0 15px;
    font-family: Montserrat;
    /* border: 1px solid blue; */
    padding-top: 70px;
    padding-bottom: 120px;
    /* scroll-behavior: smooth;  */
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 8%); */
}

section h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #A93333;
    /* border: 1px solid green; */
    margin: 30px 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox {
    /* border: 1px solid red; */
    height: fit-content;
    /* width: 30%; */
    background-color: #c4c4c4;
    padding: 2%;
    border-radius: 20px;
    margin: 10px 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
    text-align: center;
}

.flexbox.pop-up {
    transform: translate(0, 40px);
    opacity: 1;
}

.flexbox img {
    margin: 0px 10%;
    height: 200px;
    width: 80%;
    object-fit: cover;
    border-radius: 20px;
}

.details {
    width: 300px;
}

.details h3 {
    padding: 15px 0;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.flex-1 {
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.flex-1 h4 {
    font-size: 14px;
}

.flex-1 button {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #FF0000;
    font-weight: bold;
    border: none;
}

.flex-1 button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    background-color: #C4C4C4;
    padding-top: 50px;
}

.follow-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: Montserrat;
    font-size: 26px;
    margin-bottom: 10px;
}

.soc-med i {
    margin: 0 3px;
    font-size: 40px;
    color: #A93333;
    transition: 200ms ease-in-out;
}

.soc-med i:hover {
    transform: scale(1.1);
}

.contact-us p {
    font-family: Montserrat;
    color: #A93333;
    font-weight: 600;
    font-size: 20px;
}

.contact-us p i {
    font-size: 17px;
}

.contact-us a {
    color: #A93333;
    text-decoration: none;
}

#copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-family: Montserrat;
    font-weight: 300;
}

@media only screen and (max-width: 1192px) {
    #hamburger-menu {
        display: initial;
    }
    header ul {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        background-color: #C4C4C4;
        row-gap: 1.4rem;
        padding: 20px;
        transition: 200ms all linear;
    }
    header ul li a:hover {
        color: #A46F48;
    }
    header ul li a::after {
        display: none;
    }
    header ul.active {
        top: 100%;
    }
}

@media only screen and (max-width: 850px) {
    footer {  
        text-align: center;
    }

    .follow-contact {
        flex-direction: column;
        align-items: center;
    }

    .follow-us {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 560px) {
    .navbar a {
        padding: 10px;
        border-bottom: 3px solid grey;
        font-size: .8rem;
    }

    .navbar ul{
        justify-content: space-between;
        width: 100%;
    }

    section{
        width: 100%;
    }
}
