* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 

}

header {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 30px 70px;
    justify-content: space-between;
}

header h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    margin: 0 13px;
}

header li {
    text-align: center;
    display: inline-block;
}

header a:hover, a:active {
    color: #A46F48;
}

.banner {
    position: relative;
}

.banner img{
    width: 100%;
}

.banner button {
    position: absolute;
    left: 78%;
    bottom: 28%;
    /* width: 100%; */
}

.banner button {
    background-color: #FFC700;
    font-family: Raleway;
    font-weight: bold;
    font-size: 1vw;
    height: 10%;
    width: 20%;
    border: none;
    border-radius: 10px;
    transition: 200ms ease-in-out
}

.banner button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.navbar {
    margin-top: 60px;
    padding: 25px 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 100;
    /* border: 1px solid red; */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 20px;
    border-bottom: 6px solid grey;
}

.navbar ul li a:hover, .navbar ul li.active a {
    color: #A46F48;
    border-bottom: 6px solid #A46F48;
}

section {
    margin: 0 auto;
    width: 75%;
    padding: 0 15px;
    font-family: Montserrat;
    /* border: 1px solid blue; */
    padding-top: 70px;
    padding-bottom: 120px;
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 8%); */
}

section h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #A93333;
    /* border: 1px solid green; */
    margin: 30px 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.flexbox {
    display: flex;
    justify-content: space-around;
    width: 47%;
    /* height: 250px; */
    background-color: #c4c4c4;
    padding: 2%;
    border-radius: 20px;
    margin: 10px 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
    /* height: 300px; */
}

.flexbox.pop-up {
    transform: translate(0, 40px);
    opacity: 1;
}

.flexbox img {
    width: 40%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.details {
    width: 40%;
    position: relative;
}

.details h3 {
    /* padding: 5% 0; */
    font-size: 20px;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.details p {
    font-size: 0.8vw;
    /* height: 80px; */
    padding: 15px 0;
    margin-bottom: 25px;
    /* border: 1px solid red; */
}

/* .details button{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #FF0000;
    font-weight: bold;
    border: none;
} */

.details button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.flex-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0%;
    /* border: 1px solid blue; */
}

.flex-1 h4 {
    font-size: 15px;
    /* border: 1px solid red; */
}

.flex-1 button {
    font-size: 15px;
    width: 40%;
    padding: 3%;
    border-radius: 10px;
    color: white;
    background-color: #FF0000;
    font-weight: bold;
    border: none;
}

.flex-1 button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    background-color: #C4C4C4;
    padding-top: 50px;
}

.follow-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: Montserrat;
    font-size: 26px;
    margin-bottom: 10px;
}

.soc-med img {
    margin: 0 3px;
}

.contact-us p {
    font-family: Montserrat;
    color: #A93333;
    font-weight: 600;
    font-size: 20px;
}

.contact-us p i {
    font-size: 17px;
}

.contact-us a {
    color: #A93333;
    text-decoration: none;
}

#copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-family: Montserrat;
    font-weight: 300;
}

@media only screen and (max-width: 1192px) {
    header{
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
    
    nav{
        margin-top: 20px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 911px) {
    section{
        width: 80%;
    }

    .flexbox  {
        width: 80%;
    }

}

@media only screen and (max-width: 935px) {

    .follow-contact {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 560px) {
    .navbar a {
        padding: 10px;
        border-bottom: 3px solid grey;
        font-size: 80%;
    }

    .navbar ul{
        justify-content: space-between;
        width: 100%;
    }

    section{
        width: 100%;
    }
}
