* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 30px 70px;
    justify-content: space-between;
}

header h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    margin: 0 13px;
}

header li {
    text-align: center;
    display: inline-block;
}

header a:hover, a:active {
    color: #A46F48;
}

.img-header {
    position: relative;
    overflow: hidden;
}

.img-banner {
    display: flex;
    width: 200%;
}

.img-header .img-banner .slide {
    width: 100%;
    transition: 1s;
}

.img-header .slide img {
    width: 100%;
}

.img-header button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.slider-btn {
    top: 50%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-btn button {
    background-color: transparent;
    border: none;
    transition: 200ms ease-in-out;
    z-index: 10;
}

.slider-btn i {
    color: white;
    font-size: 150px;
    opacity: 50%;
}

.nav-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 10;
    transform: translateX(-50%);
}

.nav-btn .navigate {
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 50%;
    border: none;
    transition: 200ms ease-in-out;
}

.nav-btn .navigate:hover, .navigate.active {
    width: 25px;
    border-radius: 5px;
    background-color: #FFC700;
    transform: scale(1.2);
}

.nav-btn .navigate:not(:last-child) {
    margin-right: 10px;
}

.texts {
    color: white;
}

.texts h1 {
    font-family: kanit;
    font-weight: 600;
    font-size: 60px;
}

.texts p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 35px;
    padding: 20px 0;
}

.button {
    position: absolute;
    top: 65%;
    left: 10%;
    /* margin-top: 30px; */
}

.button a {
    color: black;
}

.button button {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFC700;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.button button:hover {
    transform: scale(1.05);
}

.outlets {
    text-align: center;
    padding: 30px 0;
}

.outlets h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.outlets p {
    font-family: Montserrat;
    color: #A46F48;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 26px;
}

.outlets-images {
    display: inline-block;
    text-align: left;
}

.outlets-images h3 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 20px;
}

.outlets-images p {
    font-size: 15px;
    margin-left: 12px;
}

#outlets-imgs img {
    margin: 0 10px;
    height: 260px;
    width: 440px;
}

.promotion {
    text-align: center;
    background-color: #C4C4C4;
    padding:70px 0;
    overflow: hidden;
    width: 100vw;
}

.promotion h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.promotion p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: #A46F48;
    margin-bottom: 30px;
}

.promotion-imgs {
    position : relative;
    /* pointer-events: none; */
    top: 0;
    left: 0;
    height: 100%;
    width: 150%;
    display: flex;
    grid-template-columns: repeat(3, 37.5%);
    /* grid-gap: 30px; */
    /* transition: 0s ease-in; */
}

.promotion-imgs img {
    width: 456px;
    height: 310px;
    border-radius: 20px;
}

.promotion-images {
    padding: 20px 30px;
    /* display: inline-block; */
    /* text-align: left; */
    background-color: #D30000;
    border-radius: 20px;
    margin: 0 30px;
    overflow: hidden;
    pointer-events: none;
}

.promotion-content {
    /* padding: 20px 30px; */
    /* display: inline-block; */
    text-align: left;
    /* margin: 0 30px; */
    /* overflow: hidden; */
    pointer-events: none;
}

.promotion-images h3 {
    font-family: Roboto;
    padding-top: 15px;
    font-size: 36px;
    pointer-events: none;
}

.promotion-images p {
    font-family: Raleway;
    font-weight: 300;
    font-size: 24px;
    color: black;
    pointer-events: none;
}


.latest-menu {
    text-align: center;
    padding:70px 0;
    overflow: hidden;
    width: 100vw;
    text-align: center;
    padding: 70px 0;
}

.latest-menu h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.latest-menu p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: #A46F48;
}


.latest-menu-imgs{
    display: flex;
    position : relative;
    /* pointer-events: none; */
    top: 0;
    left: 0;
    height: 100%;
    width: 150%;
    grid-template-columns: repeat(3, 37.5%);
}

.latest-menu-imgs img {
    width: 347px;
    height: 347px;
    border-radius: 20px;
}

.latest-menu-images {
    /* display: inline-block; */
    /* width: 0%; */
    background-color: #C4C4C4;
    margin: 0 20px;
    margin-top: 40px;
    font-family: Roboto;
    /* border: 3px solid black; */
    border-radius: 3%;
    padding: 1%;
    /* overflow: hidden ; */
}

.latest-menu-images h3{
    font-family: Roboto;
    padding-top: 15px;
    font-size: 30px;
    /* font-weight: 400; */
    pointer-events: none;
}

#show-more-btn {
    margin-top: 60px;
}

#show-more-btn button {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFC700;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #C4C4C4;
    padding-top: 50px;
}

.follow-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: Montserrat;
    font-size: 26px;
    margin-bottom: 10px;
}

.soc-med img {
    margin: 0 3px;
}

.contact-us p {
    font-family: Montserrat;
    color: #A93333;
    font-weight: 600;
    font-size: 20px;
}

.contact-us p i {
    font-size: 17px;
}

.contact-us a {
    color: #A93333;
    text-decoration: none;
}

#copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-family: Montserrat;
    font-weight: 300;
}

/* @media only screen and (max-width: 400px) {

}  */