* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 3% 3%;
    justify-content: space-between;
}

header h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 200%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    margin: 0 13px;
}

header li {
    text-align: center;
    display: inline-block;
}

header a:hover, a:active {
    color: #A46F48;
}

.img-header {
    position: relative;
    overflow: hidden;
}

.img-banner {
    display: flex;
    width: 200%;
}

.img-header .img-banner .slide {
    width: 100%;
    transition: 1s;
}

.img-header .slide img {
    width: 100%;
}

.img-header button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.slider-btn {
    top: 50%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-btn button {
    background-color: transparent;
    border: none;
    transition: 200ms ease-in-out;
    z-index: 10;
}

.slider-btn i {
    color: white;
    font-size: 150px;
    opacity: 50%;
}

.nav-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 10;
    transform: translateX(-50%);
}

.nav-btn .navigate {
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 50%;
    border: none;
    transition: 200ms ease-in-out;
}

.nav-btn .navigate:hover, .navigate.active {
    width: 25px;
    border-radius: 5px;
    background-color: #FFC700;
    transform: scale(1.2);
}

.nav-btn .navigate:not(:last-child) {
    margin-right: 10px;
}

.texts {
    color: white;
}

.texts h1 {
    font-family: kanit;
    font-weight: 600;
    font-size: 60px;
}

.texts p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 35px;
    padding: 20px 0;
}

.button {
    position: absolute;
    top: 65%;
    left: 10%;
    /* margin-top: 30px; */
}

.button a {
    color: black;
}

.button button {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFC700;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.button button:hover {
    transform: scale(1.05);
}

.outlets {
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.outlets h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.outlets p {
    font-family: Montserrat;
    color: #A46F48;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 26px;
}

#outlets-imgs{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.outlets-images {
    display: inline-block;
    text-align: left;
    width: 30%;
    text-align: center;
}

.outlets-images h3 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 20px;
}

.outlets-images p {
    font-size: 15px;
    margin-left: 12px;
}

#outlets-imgs img {
    /* margin: 0 10px; */
    height: 50%;
    width: 90%;
}

.promotion {
    text-align: center;
    background-color: #C4C4C4;
    padding:3% 3%;
    overflow: hidden;
    width: 100%;
}

.promotion h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.promotion p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: #A46F48;
    margin-bottom: 30px;
}

.promo.slider {
    width: 100%;
    height: 478px;
    position: relative;
    overflow: hidden;
}

.promotion-imgs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    transition: 0s ease-in;
}

.promotion-imgs img {
    width: 380px;
    height: 250px;
    border-radius: 20px;
}

.promotion-images {
    /* width: 100%; */
    padding: 20px 30px;
    background-color: #D30000;
    border-radius: 20px;
    pointer-events: none;
    /* margin: 0% 0.5%; */
}

.promotion-images:not(:last-child) {
    margin-right: 10px;
}

.promotion-content {
    text-align: left;
    pointer-events: none;
}

.promotion-images h3 {
    font-family: Roboto;
    padding-top: 15px;
    font-size: 30px;
    pointer-events: none;
}

.promotion-images p {
    font-family: Raleway;
    font-weight: 300;
    font-size: 24px;
    color: black;
    pointer-events: none;
}

.latest-menu {
    text-align: center;
    padding:70px 50px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.latest-menu h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
}

.latest-menu p {
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: #A46F48;
    margin-bottom: 30px;
}

.menu.slider {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.latest-menu-imgs {
    position : absolute;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    transition: 0s ease-in;
}

.latest-menu-imgs img {
    width: 347px;
    height: 347px;
    border-radius: 20px;
}

.latest-menu-images {
    background-color: #C4C4C4;
    font-family: Roboto;
    border-radius: 20px;
    padding: 20px;
    /* height: fit-content; */
    pointer-events: none;
}

.latest-menu-images:not(:last-child) {
    margin-right: 10px;
}

.latest-menu-images h3{
    font-family: Roboto;
    padding: 15px 0;
    font-size: 25px;
    pointer-events: none;
}

#show-more-btn {
    margin-top: 60px;
}

#show-more-btn button {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFC700;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #C4C4C4;
    padding-top: 50px;
}

.follow-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: Montserrat;
    font-size: 26px;
    margin-bottom: 10px;
}

.soc-med img {
    margin: 0 3px;
}

.contact-us p {
    font-family: Montserrat;
    color: #A93333;
    font-weight: 600;
    font-size: 20px;
}

.contact-us p i {
    font-size: 17px;
}

.contact-us a {
    color: #A93333;
    text-decoration: none;
}

#copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-family: Montserrat;
    font-weight: 300;
}


@media only screen and (max-width: 1192px) {
    header{
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
    
    nav{
        margin-top: 20px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin: 5px 0px;
    }


}


@media only screen and (max-width: 850px) {

    #outlets-imgs{
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .outlets-images{
        width: 70%;
        /* height: 50%; */
    }

    #outlets-imgs img{
        height: 250px;
    }

    .promo.slider{
        height: 400px;
    }
    .promotion-imgs img {
        width: 280px;
        height: 150px;
        /* border-radius: 20px; */
    }

    .latest-menu-imgs img {
        width: 200px;
        height: 200px;
        /* border-radius: 20px; */
    }

    .follow-contact {
        flex-direction: column;
        align-items: center;
    }
} 