
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 30px 70px;
    justify-content: space-between;
}

header h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 24px;
    margin: 0 13px;
}

header li {
    text-align: center;
    display: inline-block;
}

header a:hover, a:active {
    color: #A46F48;
}
section {
    margin: 0 auto;
    width: 80%;
    padding: 0 15px;
    font-family: Montserrat;
    /* border: 1px solid blue; */
    padding-top: 70px;
    padding-bottom: 120px;
    /* box-shadow: 0 4px 4px rgb(0 0 0 / 8%); */
}

section h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #A93333;
    /* border: 1px solid green; */
    margin: 40px 10px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.flexbox {
    width: 30%;
    position: relative;
    height: 360px;
    /* border: 1px solid red; */
    background-color: #c4c4c4;
    padding: 2%;
    border-radius: 20px;
    margin:  0.7%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
}

.flexbox img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.details {
    width: 100%;
}

.details h2 {
    font-size: 130%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 3px 0px;
}

/* .details p {
    font-size: 20px;
    font-weight: 200;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
} */

.flex-1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

.flex-1 h4 {
    font-size: 14px;
    /* border: 1px solid red; */
}

.flex-1 button {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #FF0000;
    font-weight: bold;
    border: none;
}

.flex-1 button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 70px;
    justify-content: space-between;
    
}

header li {
    display: inline-block;
}

header nav ul li a {
    margin: 0 13px;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
}

header h1 {
    font-size: 40px;
}

.img-header {
    position: relative;
    overflow: hidden;
}

.img-banner {
    display: flex;
    width: 200%;
}

.img-header .img-banner .slide {
    width: 100%;
    transition: 1s;
}

.img-header .slide img {
    width: 100%;
}

.img-header .button {
    position: absolute;
    left: 11%;
    top: 75%;
}

.img-header .button.change {
    position: absolute;
    top: 8%;
    left: 55%;
}

.img-header .button button {
    background-color: #FFC700;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    transition: 200ms ease-in-out;
}

.img-header .button.change button {
    background-color: #D30000;
}

.img-header button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.slider-btn {
    top: 50%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-btn button {
    background-color: transparent;
    border: none;
    transition: 200ms ease-in-out;
    z-index: 10;
}

.slider-btn i {
    color: white;
    font-size: 150px;
    opacity: 50%;
}

.text {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.text i {
    margin-right: 10px;
    font-size: 25px;
    color: #D30000;
}

.nav-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 10;
    transform: translateX(-50%);
}

.nav-btn .navigate {
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 50%;
    border: none;
    transition: 200ms ease-in-out;
}

.nav-btn .navigate:hover, .navigate.active {
    width: 25px;
    border-radius: 5px;
    background-color: #FFC700;
    transform: scale(1.2);
}

.nav-btn .navigate:not(:last-child) {
    margin-right: 10px;
}

.navbar {
    margin-top: 60px;
    padding: 25px 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 10;
    /* border: 1px solid red; */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 20px;
    border-bottom: 6px solid grey;
}

.navbar ul li a:hover, .navbar ul li.active a {
    color: #A46F48;
    border-bottom: 6px solid #A46F48;
}

footer {
    background-color: #C4C4C4;
    padding-top: 50px;
}

.follow-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: Montserrat;
    font-size: 26px;
    margin-bottom: 10px;
}



.soc-med img {
    margin: 0 3px;
}


.contact-us p {
    font-family: Montserrat;
    color: #A93333;
    font-weight: 600;
    font-size: 20px;
}

.contact-us p i {
    font-size: 17px;
}

.contact-us a {
    color: #A93333;
    text-decoration: none;
}

#copyright {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-family: Montserrat;
    font-weight: 300;
}


@media only screen and (max-width: 1192px) {
    header{
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
    
    nav{
        margin-top: 20px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 850px) {
    /* body{
        background-color: blue;
    } */

    .flexbox{
        height: 260px;
    }

    .flexbox img {
        height: 100px;
        width: 100%;
    }

    .follow-contact {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 560px) {
    .navbar a {
        padding: 10px;
        border-bottom: 3px solid grey;
        font-size: 80%;
    }

    .navbar ul{
        justify-content: space-between;
        width: 100%;
    }

    section{
        width: 100%;
    }
}
